# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.DoIt.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Dev\DoIt\.idea\.idea.DoIt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
